<%
var goal = campaign.goal;
var total = 0;
var amount = {
	demo: 0,
	alpha: 0,
	beta: 0,
	done: 0
};

// Pledge totals
for(var i=0;i<pledges.length;i++){
	var pledge = pledges[i];
	var s = pledge.stages;

	amount.demo += s.demo.amount;
	amount.alpha += s.alpha.amount;
	amount.beta += s.beta.amount;
	amount.done += s.done.amount;
	
	pledge.total = s.demo.amount + s.alpha.amount + s.beta.amount + s.done.amount;
	total += pledge.total;
}

// Pledge sorting
pledges = pledges.sort(function(a,b){
	return(b.total-a.total);
});

%>

<!DOCTYPE html>
<html>
	<head>
		<link href='/css/campaign.css' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div id="splash">

			<div id="title">
				<!--div style="position: relative;top: 27px;font-size:4em">NOTHING TO HIDE</div>
				<div style="position: relative;top: -5px;color:#999">an anti-stealth game where you are your own watchdog</div-->
			</div>

			<div id="video_banner">
				<div id="video_container">
					<canvas id="video_meta" width="800" height="350"></canvas>
					<div id="video_play" onclick="playVideo()"></div>
					<div id="video_trailer"></div>
				</div>
			</div>

			<div id="campaign_progress">
				<div id="campaign_progress_bar" style="width:<%=(total/goal)*100%>%"></div>
				<div id="campaign_progress_message">
					RAISED $<%=Math.round(total)%> OUT OF $<%=Math.round(goal)%> FROM <%=pledges.length%> BACKERS
				</div>
			</div>

			<a href="/pledge" style="text-decoration:none;display:block;width:400px;margin:0 auto">
				<div class="pledge_button">BACK THIS PROJECT</div>
			</a>

		</div>

		<!-- Details about the game -->
		<!--div class="project_title" style="letter-spacing:6px">
			A STORY OF SELF-SURVEILLANCE
		</div-->
		<div class="project_title" style="letter-spacing:3px">
			A STORY OF INSECURITY IN SECURITY
		</div>
		<div class="project_info">
			<div>
				<div id="thumbnail" style="background-image:url(/thumbs/game_puzzle.png)"></div>
				<div id="blurb">
					<div class="title">Look Out For Yourself</div>
					In this anti-stealth game, you're forced to <i>help</i> with your own surveillance via high-tech spy-tech.
					The puzzles are curious, challenging, and contain more Ludonarrative Metaphors&trade; than leading brands.
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(/thumbs/game_story.png)"></div>
				<div id="blurb">
					<div class="title">Dystopia 2.0</div>
					You play as Poppy, a teenager who's never had a private thought in her life.
					Just your average kid.
					In this world, hiding is criminal,
					because only criminals have something to hide.
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(/thumbs/game_why.png)"></div>
				<div id="blurb">
					<div class="title">Stop Acting For The Camera</div>
					Privacy is more than hiding yourself. It's a safe space for finding yourself.
					&nbsp;&nbsp;
					<!-- whether it's personal growth, or political dissent -->
					<!-- privacy is control over yourself. -->
					I made this game to show my friends and peers, growing up always-connected,
					why privacy still matters both personally and politically.
				</div>
			</div>
		</div>

		<!-- How it's so open -->
		<div class="project_title" style="letter-spacing:2px">
			NOTHING TO HIDE HAS NOTHING TO HIDE
		</div>
		<div class="project_info">
			<div>
				<div id="thumbnail" style="background-image:url(/thumbs/open_cc0.png)"></div>
				<div id="blurb">
					<div class="title">Zero Rights Reserved</div>
					<i>Nothing To Hide</i> is uncopyrighted with
					<a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">Creative Commons Zero</a>.
					You're free to copy, remix, record, and do whatever with this game!
					By giving up "power" over our art, our art has more power.
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(/thumbs/open_design.png)"></div>
				<div id="blurb">
					<div class="title">Open Design</div>
					<a href="http://www.youtube.com/playlist?list=PLoe8gnGV_AGOeRHWDzI90enuqKDkz7MSp" target="_blank">A developer vlog</a>.
					<a href="http://tinyletter.com/nothingtohide/letters" target="_blank">An open newsletter</a>.
					<a href="http://indiegames.com/2013/11/prototype_pick_anti-stealth.html" target="_blank">Public prototypes for 4 months now</a>.
					I'm totally transparent, and you, the community, really helped me shape this game!
					I trust you. More than I trust just dumb ol' me, anyway.
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(/thumbs/open_source.png)"></div>
				<div id="blurb">
					<div class="title">Open Source</div>
					All source code and source art files are public on Github.
					Learn from it, make art with it, or just marvel at how many
					bad puns I can fit in the code comments.
				</div>
			</div>
		</div>

		<!-- Stuff about your pledge -->
		<div class="project_title" style="font-size:64px">
			BUILT FOR THE PUBLIC, BACKED BY THE PUBLIC
		</div>
		<div class="project_info">
			<div>
				<div id="thumbnail" style="background-image:url(/thumbs/pledge_progress.png)"></div>
				<div id="blurb">
					<div class="title" style="font-size:21px">Accountability in Progress Pledges</div>
					I <i>don't</i> take your entire pledge upfront.
					I only claim part of your pledge for each new milestone I hit, and you can cancel the rest of your pledge at any time.
					You only complete your pledge <i>when I complete my project.</i>
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(/thumbs/pledge_charity.png)"></div>
				<div id="blurb">
					<div class="title">Help Charities Help You</div>
					In a digital world, we must defend our digital rights.
					10% of your pledge goes to
					<a href="https://www.mozilla.org/" target="_blank">Mozilla</a>,
					<a href="https://www.eff.org/" target="_blank">Electronic Frontier Foundation</a>,
					<a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">Creative Commons</a>,
					<a href="http://demandprogress.org/" target="_blank">Demand Progress</a>,
					and the
					<a href="https://pressfreedomfoundation.org/" target="_blank">Press Freedom Foundation</a>.
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(/thumbs/pledge_split.png)"></div>
				<div id="blurb">
					<div class="title">Where Do Your Monies Go?</div>
					Charity gets 10%.
					The rest are salaries for artists/coders/musicians for the next ten months.
					(currently just me & Phyrnna)
					Any extra costs come out of my pocket.
					We hope to show you <i>can</i> make open art <i>and</i> make a living.
				</div>
			</div>
		</div>

		<!-- Pledge it, yo! -->
		<div id="pledging">

			<a href="/pledge" style="text-decoration:none;display:block;width:400px;margin:0 auto">
				<div class="pledge_button">BACK THIS PROJECT</div>
			</a>

			<div style="width:630px; margin:0 auto; position: relative;">

				<div style="width:300px; position:absolute; left:0; color:#fff; letter-spacing:2px">
					<div style="color:#888; text-align: center; font-size: 40px; line-height: 20px; position: relative; top: 15px;">
						BACKER PERKS
					</div>
					<div style="position: relative; top: 30px;">
						$25+ Credited in the game & all early builds!
						$50+ ... 
						$100+ Custom drawn character, drawn in Nothing To Hide's art style. (+ credit)
						$250+ Custom playable character, in Nothing To Hide's art style. (+ credit)
					</div>
				</div>

				<div style="width:300px; position:absolute; right:0; color:#fff; letter-spacing:2px">
					<div style="color:#888; text-align: center; font-size: 40px; line-height: 20px; position: relative; top: 15px;">
						TOP 10 BACKERS
					</div>
					<ol>
						<%
						for(var i=0;i<10;i++){
							var pledge=pledges[i%pledges.length];
						%>
							<li><%=pledge.backer.name%> <span style="color:#888">- $<%=pledge.total.toFixed(2)%></span></li>
						<%}%>
						<!--
						<%
						for(var i=0;i<10&&i<pledges.length;i++){
							var pledge=pledges[i];
						%>
							<li><%=pledge.backer.name%> - $<%=pledge.total.toFixed(2)%></li>
						<%}%>
						-->
					</ol>
				</div>

			</div>

		</div>

		<!-- A Little Goodbye Message-->
		<div id="goodbye">
			Thanks for viewing this campaign!
			<br>
			After all, we're all viewing you. 
			<!--div id="goodbye_bar"></div>
			<div id="goodbye_bar_2"></div>
			<div id="goodbye_bar_3"></div-->
		</div>

		<!-- Big Splash Footer -->
		<!--div id="footer">
		</div-->

	</body>
</html>

<script src="/js/campaign.js"></script>